<!doctype html>
<html lang="[[HTML_LANG]]">

  <head>
    <meta charset="utf-8">
    <title>[[PAGE_TITLE]]</title>
    <meta name="viewport" content="width=1304, height=984, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="theme-color" content="#fff">

  </head>

  <body>

    <div class="main-container">
      <div class="header-row">
        <div class="current-month">
          <span class="current-month-name">[[MONTH_NAME]]</span><span class="current-year">[[YEAR]]</span>
        </div>
        <div class="weather">[[WEATHER]]</div>
      </div>
      <div class="calendar">[[CALENDAR]]</div>
      <div class="last-update">[[LAST_UPDATE_LEGEND]] [[LAST_UPDATE]]</div>
    </div>

  </body>

</html>
